# ⚙️ Compiled output
/dist
/tmp
/out-tsc

# ⚙️ Angular build artifacts
.angular

# 📦 Node dependencies
/node_modules

# 📄 Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# 🛠 IDE configs
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# 🔍 OS files
.DS_Store
Thumbs.db

# 🔒 Environment files
.env
.env.*.local

# 🧪 Test coverage
/coverage

# 🚀 Deployment
/.firebase
/.firebaserc

# 📁 Misc
*.tgz
*.gz
*.zip
