<div class="bg-coelho">
  <ng-lottie [options]="topOptions" class="coelho-animation top-coelho">
  </ng-lottie>

  <!-- Conteúdo -->
  <div class="content">
    <div class="imagem-numero">
      <img src="pedro.jpeg" alt="Imagem" class="imagem" />
      <div class="numero">00</div>
    </div>
    <div class="botao-container">
      <button class="botao">Exibir número sorteado</button>
    </div>
  </div>

  <ng-lottie [options]="bottomOptions" class="coelho-animation bottom-coelho">
  </ng-lottie>
</div>